body {
    background-color: gray;
}

canvas {
    border: none;
}

#replicanti-container {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

#replicanti-count {
    font-size: 32px;
    font-weight: bold;
}
